<h1>New list</h1>

<div data-role="header">
   List form
</div>

<div data-role="content">
   <%= render 'form' %>
</div>

<%= link_to 'Back', lists_path %>

<div data-role="footer">
   If you want it
</div>


